<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <!--     <meta name="author" content=""> -->
    <!--     <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->
    <title>Content Recommendation Dashboard</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <style>
    .legend {
      font-size: 12px;
    }
    rect {
      stroke-width: 2;
    }
    #piechart {
      height: 300px;
      position: relative;
      width: 300px;
    }
    div.tooltip {
      background: #eee;
      box-shadow: 0 0 5px #999999;
      color: #333;
      display: none;
      font-size: 12px;
      left: 130px;
      padding: 10px;
      position: absolute;
      text-align: center;
      top: 95px;
      width: 80px;
      z-index: 10;
    }
  </style>

  <div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Content Recommendation</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="tryitout">Try it out</a></li>
            <li class="active"><a href="dashboard">API Dashboard</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="documentation">Documentation</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>

<body class="application">

<div class="container">
    <div class="row.row-eq-height">
      <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">All-time summary:</h3>
                </div>
                <div class="panel-body">
                  <!-- Table -->
                  <table class="table">
                    <tr>
                      <td>Total number of API requests      </td>
                      <td>{{ data_summary["counter"] }}</td>
                    </tr>
                    <tr>
                      <td>Percent of sucessful responses  </td>
                      <td>{{ "{0:0.2f}".format(100 * data_summary["countsuccess"]/data_summary["counter"]) }} %</td>
                    </tr>
                    <tr>
                      <td>Total number of clicks</td>
                      <td>{{ data_summary["clickcount"] }}</td>
                    </tr>
                    <tr>
                      <td>Average response time</td>
                      <td>{{ "{0:0.2f}".format(1000 * data_summary["average_response_time"]) }} ms</td>
                    </tr>
                    <tr>
                      <td>Average click delay</td>
                      <td>{{ "{0:0.2f}".format(1000 * data_summary["average_click_delay"]) }} ms</td>
                    </tr>
                    <tr>
                      <td>Average clickcount per request</td>
                      <td>{{ "{0:0.2f}".format(data_summary["average_clickcountperrequest"]) }} </td>
                    </tr>
                    <tr>
                      <td>Average score</td>
                      <td>{{ "{0:0.2f}".format(data_summary["average_score"]) }} </td>
                    </tr>
                    <tr>
                      <td>Average first score</td>
                      <td>{{ "{0:0.2f}".format(data_summary["average_first_score"]) }} </td>
                    </tr>
                  </table>
                </div>
            </div>
      </div>

      <div class="col-sm-6" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">All time corpus popularity</h3>
                </div>
                <div class="panel-body", style="text-align:center;">
                  <div id="piechart"></div>
                </div>
            </div>
      </div>
    </div>
</div>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://d3js.org/queue.v1.min.js"></script>
  <script type="text/javascript" src="/static/js/charts.js"></script>

</body>
</html>
