<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Freija Descamps">

    <title>Content recommendation API</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/bootstrap/css/sticky-footer-navbar.css" rel="stylesheet">

  </head>

  <body>
<div id="wrap">
    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Content Recommendation</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="tryitout">Try it out</a></li>
              <li><a href="dashboard">API Dashboard</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="documentation">Documentation</a></li>
              <li><a href="contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Content Recommendation API</h1>
        <p>This Content Recommendation API was developed by F D, F K Y and J L
          during the <a href='http://cdips.physics.berkeley.edu/2016-cdips-data-science-workshop/'>2016 CDIPS Data Science workshop.</a>  F C was the mentor for the team.
          The goal of the project was to design a recommendation API framework that can handle multiple corpora and uses different recommendation engines. </p>
        <p>
          <a class="btn btn-lg btn-primary" href="tryitout" role="button">Try it out!</a>
        </p>
      </div>

    </div> <!-- /container -->

    <footer class="footer">
      <div class="container">
        <p class="text-muted">fajifr 2016.</p>
      </div>
    </footer>
</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
